*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  // this defines what 1rem is, so in this case it is 10px, 10/16 = 0.625
  font-size: 62.5%;     // 1rem = 10px

  @include respond(tab-land) {
    font-size: 56.25%;  // 1rem = 9px, 9/16 = 0.5625
  }
  @include respond(tab-port) {
    font-size: 50%;     // 1rem = 8px, 8/16 = 0.5
  }
}

body {
  box-sizing: border-box;
}

#page-wrapper {
  padding-top: 7.2rem;
}

main {
  padding-top: 7.2rem;
  @include respond(tab-land) {
    padding-top: 0;
  }
  @include respond(tab-port) {
    padding-top: 5rem;
  }
}