body {
  font-family: $font-family-base;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.5rem;
  color: $text-color;
}

a {
  color: $link-color;
  &:hover {
    color: $sl-light-blue;
    text-decoration: none;
  }
}

ul {
  list-style: none;
  &[class$='list'] {
    margin: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 4.2rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -0.0175em;
  line-height: 1.1em;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.4rem;
}

strong {
  font-weight: 900;
}