.bg--gray {
  background-color: $sl-bg-gray;
}
.cta-link {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.arrow-link {
  &:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\F054";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-left: .75rem;
  }
}

.page-divider {
  hr {
    margin: 0;
    border-color: $sl-medium-gray;
  }
}

.footnote {
  font-size: 1.1rem;
}