<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}StraighterLine{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="./assets/css/style.css">
        {% endblock %}
    </head>
    {#TODO figure out how to send to body each page specific class#}
    <body class={{ mainClass | default('') }}>
    <div class="mm-page">
        <div id="page-wrapper">
            {% block header %}
                {% include 'layout/header.html.twig' %}
                {% include 'layout/navigation.html.twig' %}
            {% endblock %}

            {% block sidebar %}
                {% include 'layout/sidebar.html.twig' %}
            {% endblock %}

            {% block body %}
            {% endblock %}

            {% block footer %}
                {% include 'layout/footer.html.twig' %}
            {% endblock %}
        </div>
    </div>
    {% block javascripts %}
        <script src="./assets/js/app.js"></script>
    {% endblock %}
    </body>
</html>