{% extends 'base/base.html.twig' %}
{% set mainClass = 'home' %}
{% block title %}
    Low Cost Online Courses for College Credit | {{ parent() }}
{% endblock %}
{% block body %}
    <main>

        {% include 'components/hero.html.twig' %}

        {#All sections will be transformed into separate components depending on partners requirements.#}

        <section class="courses-overview__section bg--gray">
            <div class="container">
                <h2 class="mb-3">A Better <strong>Experience</strong></h2>
                <div class="row">
                    <div class="col-12 col-sm-6 mb-5">
                        <p>StraighterLine combines a $99 a month membership with guaranteed credit pathways to accredited colleges saving students up to 60% on their degrees.</p>
                    </div>
                    <div class="col-12 col-sm-6 mb-5">
                        <a href="#" class="btn btn-xl btn-outline-primary float-sm-right arrow-link">See all courses</a>
                    </div>
                </div>
                <h5 class="mb-3"><em>Our <strong>Most Popular</strong> Courses</em></h5>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="course-card humanities-card">
                            <div class="course-card__body">
                                <h6 class="course-card__name">United states history I</h6>
                                <div class="course-card__price">
                                    <span class="course-card__price-value">$59</span>
                                    <span>with Membership</span>
                                </div>
                                <div class="course-card__credits">
                                    <span class="course-card__credits-value">3</span>
                                    <span>credits</span>
                                </div>
                            </div>
                            <div class="course-card__footer">
                                <button class="btn btn-lg btn-primary" type="button"><i class="fas fa-plus"></i> Add to cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="course-card social-science-card">
                            <div class="course-card__body">
                                <h6 class="course-card__name">Introduction to Sociology</h6>
                                <div class="course-card__price">
                                    <span class="course-card__price-value">$59</span>
                                    <span>with Membership</span>
                                </div>
                                <div class="course-card__credits">
                                    <span class="course-card__credits-value">3</span>
                                    <span>credits</span>
                                </div>
                            </div>
                            <div class="course-card__footer">
                                <button class="btn btn-lg btn-primary" type="button"><i class="fas fa-plus"></i> Add to cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="course-card mathematics-card">
                            <div class="course-card__body">
                                <h6 class="course-card__name">College Algebra</h6>
                                <div class="course-card__price">
                                    <span class="course-card__price-value">$59</span>
                                    <span>with Membership</span>
                                </div>
                                <div class="course-card__credits">
                                    <span class="course-card__credits-value">3</span>
                                    <span>credits</span>
                                </div>
                            </div>
                            <div class="course-card__footer">
                                <button class="btn btn-lg btn-primary" type="button"><i class="fas fa-plus"></i> Add to cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="course-card humanities-card">
                            <div class="course-card__body">
                                <h6 class="course-card__name">Western Civilization I</h6>
                                <div class="course-card__price">
                                    <span class="course-card__price-value">$59</span>
                                    <span>with Membership</span>
                                </div>
                                <div class="course-card__credits">
                                    <span class="course-card__credits-value">3</span>
                                    <span>credits</span>
                                </div>
                            </div>
                            <div class="course-card__footer">
                                <button class="btn btn-lg btn-primary" type="button"><i class="fas fa-plus"></i> Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="promo-banner__section">
            <div class="container">
                <div class="promo-banner__wrapper">
                    <div class="promo-banner__content">
                        <a href="https://brookhaven.straighterline.com" target="_blank">
                            <h2>Interested in <strong>Financial aid</strong> for straighterline courses?</h2>
                            <p><span>Limited Space Available,</span> Call Today for Details</p>
                        </a>
                    </div>
                    <div class="promo-banner__contact">
                        <a href="tel:1-877-989-7396">Call: (877) 989-7396</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="how-it-works__section">
            <div class="container">
                <h2 class="mb-3"><strong>How</strong> It Works</h2>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="how-it-works__step step-1">
                            <h3 class="mb-4">Choose Courses</h3>
                            <p>Every course saves you money, time, and counts for credit towards your degree.</p>
                            <a href="#" class="cta-link arrow-link">View Courses</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="how-it-works__step step-2">
                            <h3 class="mb-4">Earn College Credit</h3>
                            <p>Complete your StraighterLine courses, and we guarantee that they will transfer to schools in our network of accredited colleges.</p>
                            <a href="#" class="cta-link arrow-link">See Our Guarantee</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="how-it-works__step step-3">
                            <h3 class="mb-4">Transfer & Get Your Degree</h3>
                            <p>Graduate with the degree you want, from the school you want for a fraction of the price.</p>
                            <a href="#" class="cta-link arrow-link">View Colleges</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="advisor__section">
            <div class="container">
                <div class="advisor__wrapper bg--gray">
                    <div class="advisor__avatar">
                        <img src="https://s3.amazonaws.com/straighterline-web/images/modules/advisor-image.png" alt="Straighterline counselor">
                    </div>
                    <div class="advisor__info">
                        <h4><strong>Speak with a StraighterLine Enrollment Counselor</strong></h4>
                        <p>We’re always here to help answer any questions you have!</p>
                    </div>
                    <div class="advisor__contact">
                        <h3><em>Call:</em><strong>877.787.8375</strong></h3>
                        <button class="btn btn-danger btn-lg">Chat Now!</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="tools__section bg--gray">
            <div class="container">
                <h2>Use Our Tools for <strong>Your Success</strong></h2>
                <div class="row">
                    <div class="col-md-7 col-lg-6">
                        <h5><em>From the StraighterLine Blog:</em></h5>
                        <div class="tools__blog">
                            <a href="#" class="blog__recent-post__title">How An Olympic Hopeful Fit Education Into His Training Schedule</a>
                            <p>For Aidyn Gangemi, a high school junior, taking English Composition I wasn’t just a matter of becoming a better writer, but also about finding something that fit into his busy schedule. Because Aidyn spends at least six hours a day training as a competitive ice dancer, he needed a course that was flexible and convenient.
                                Aidyn thought about taking a CLEP exam, but decided against it. “With CLEP exams you are flying by the seat of your pants and hoping you pass,” says Aidyn’s mother Deb. “And if you fail – BUMMER – you’ll have to wait to take it again.”
                                Aidyn knew he wanted a course that would fit into his schedule, but also set clear guidelines and provided feedback and structure. After some research, he selected Straighte ... </p>
                            <a href="#" class="cta-link arrow-link">Read the full story</a>
                        </div>
                        <a href="#" class="cta-link arrow-link">See All StraighterLine Blog Posts Here</a>
                    </div>
                    <div class="col-md-5 col-lg-6">
                        <div class="tools__guide">
                            <h3>2018 Guide to Getting Your College Degree</h3>
                            <p>Our FREE guide will provide you everything you need to know about going back to school, saving money on your degree, and your college options.</p>
                            <a href="#" class="btn btn-primary btn-lg">Get the Guide</a>
                            <img src="http://webcdn.straighterline.net/images/guides-reports/2018Guide.png" alt="Guide">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include 'components/page-divider.html.twig' %}

        {% include 'components/testimonials.html.twig' %}

        {% include 'layout/bottom-contact-form.html.twig' %}

    </main>

{% endblock %}
