{% extends 'base/base.html.twig' %}
{% set mainClass = 'login' %}
{% import 'macros/forms.html.twig' as form %}
{% block title %}
    Customer Login | {{ parent() }}
{% endblock %}
{% block body %}
    <main>
        <section class="login__section">
            <div class="container">
                <div class="login__wrapper">
                    <div class="login__form">
                        <h2>Registered Students</h2>
                        <p>If you have an account with us, log in using your email address.</p>
                        <form class="needs-validation no-borders" novalidate>
                            <div class="form-row mb-4">
                                <div class="col-12">
                                    <div class="form-group mb-4">
                                        {{ form.inputGroupIcn('Email', 'login_email', '', 'email', '', 'login_email', 'Email', 'required', 'input-group-prepend', 'far fa-envelope') }}
                                    </div>
                                    <div class="form-group mb-4">
                                        {{ form.inputGroupIcn('Password', 'login_password', '', 'password', '', 'login_password', 'Password', 'required', 'input-group-prepend', 'fas fa-key') }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-6">
                                    <div id="forgot-password">
                                        <a href="#"><i class="fas fa-lock"></i>Forgot Your Password?</a>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <span class="login__divider">Or</span>
                    <div class="login__third-party-acc">
                        <h2>Sign in with one of these third party accounts:</h2>
                        <div class="login__third-party-acc__links">
                            <a href="#" class="btn btn-primary login__facebook">Sign in with Facebook</a>
                            <a href="#" class="btn btn-primary login__google">Sign in with Google</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
