{% extends 'base/base.html.twig' %}
{% set mainClass = 'register' %}
{% import 'macros/forms.html.twig' as form %}
{% block title %}
    Try a Free Self-Paced Online College Lesson  | {{ parent() }}
{% endblock %}
{% block body %}
    <main>

        <section class="register__section">
            <div class="container">
                <h1 class="mb-5"><strong>Take 2 Free Lessons</strong> from Our Most Popular Online College Courses.</h1>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-5">Our sole focus is on general education courses and delivering the best possible student experience at the lowest possible cost. Every StraighterLine course is engineered to increase your success, count for credit towards your degree, and to save you money.</p>
                        <h4 class="mb-4 d-none d-md-block"><em>Free trial courses include:</em></h4>
                        <ul class="courses-list d-none d-md-block">
                            <li>College Algebra</li>
                            <li>English Comp I</li>
                            <li>Western Civilization I</li>
                            <li>Anatomy & Physiology I</li>
                            <li>Precalculus</li>
                            <li>Macroeconomics</li>
                            <li>US History I</li>
                            <li>Introduction to Sociology</li>
                            <li>Business Statistics</li>
                            <li>Introduction to Psychology</li>
                            <li>Spanish I</li>
                            <li>Introduction to Nutrition</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="register__form-wrapper bg--gray">
                            <form class="needs-validation no-borders mb-5" novalidate>
                                <div class="form-row">
                                    <div class="col-12  col-sm-6 col-md-12 col-lg-6">
                                        <div class="form-group mb-4 mb-sm-5">
                                            {{ form.inputGroupIcn('First Name *', 'register__name', '', 'text', '', 'register__name', 'First Name', 'required', 'input-group-prepend', 'far fa-user') }}
                                        </div>
                                    </div>
                                    <div class="col-12  col-sm-6 col-md-12 col-lg-6">
                                        <div class="form-group mb-4 mb-sm-5">
                                            {{ form.inputGroupIcn('Last Name *', 'register__last', '', 'text', '', 'register__last', 'Last Name', 'required', 'input-group-prepend', 'far fa-user') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12  col-sm-6 col-md-12 col-lg-6">
                                        <div class="form-group mb-4 mb-sm-5">
                                            {{ form.inputGroupIcn('Email *', 'register__email', '', 'email', '', 'register__email', 'Email', 'required', 'input-group-prepend', 'far fa-envelope') }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                                        <div class="form-group mb-4 mb-sm-5">
                                            {{ form.inputGroupIcn('Phone Number *', 'register__phone', '', 'number', '', 'register__phone', 'Phone Number', 'required', 'input-group-prepend', 'fas fa-phone') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12">
                                        <div class="form-group mb-4 mb-sm-5">
                                            {{ form.inputGroupIcn('Create a Password *', 'register__password', '', 'password', '', 'register__password', 'Password', 'required', 'input-group-prepend', 'fas fa-key') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12 mb-5">
                                        {{ form.inputGroupBtn('Choose Your College / University', 'register__college', '', 'text', '', 'register__college', 'Your College / University', '', 'input-group-append', 'fas fa-times', 'button') }}
                                    </div>
                                </div>
                                <div class="form-group mb-5">
                                    <div class="form-check">
                                        <p class="form-check__extra-text">or</p>
                                        <div class="form-check__container">
                                            <input class="form-check-input" type="checkbox" value="" id="register__undecided-college">
                                            <span class="checkmark"></span>
                                            <label class="form-check-label" for="register__undecided-college">Undecided College/University</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-5">
                                    <div class="form-check">
                                        <div class="form-check__container">
                                            <input class="form-check-input" type="checkbox" value="" id="register__get-latest-news">
                                            <span class="checkmark"></span>
                                            <label class="form-check-label" for="register__get-latest-news">Get the latest information on StraighterLine courses, news, and promotions</label>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-success mx-auto" type="submit">Start My Free Trial</button>
                            </form>
                            <p>Already have a trial? <a href="#">Login here</a></p>
                        </div>
                        <div class="trust-icon__wrapper mt-5">
                            <a href="#" class="trust-icon__link">
                                <div class="trust-icon__img"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="testimonial__section">
            <div class="container">
                <div class="testimonial">
                    <div class="testimonial__avatar">
                        <img src="http://webcdn.straighterline.net/images/student_success/nardy_d_circle.png" alt="Testimonial avatar">
                    </div>
                    <div class="testimonial__name">
                        <h3>Chris A.</h3>
                        <p>Total savings: <strong>$12,016</strong></p>
                    </div>
                    <div class="testimonial__quote">
                        <i class="fas fa-quote-left"></i>
                        <p>
                            <em>My goal was to finish my degree in 4 years. Without StraighterLine, I would not have been able to.</em>
                        </p>
                    </div>
                </div>
                <p class="footnote">
                    *Total StraighterLine savings is compared to the average, in-state, published tuition and fees at a public four year college plus the average amount of contribution paid by state and local taxpayers. For 2014 - 2015, the average published tuition and fees is $9140 which represents an average of 47% of a public institution's revenue. Source:
                    <a href="#">College Board</a> and <a href="#">State Higher Education Executive Officers</a>.
                </p>
            </div>
        </section>

    </main>
{% endblock %}
