{% extends 'base/base.html.twig' %}
{% block title %}
    {{ parent() }} | home
{% endblock %}
{% block header %}
    {#{% include 'components/header.html.twig' %}#}
{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>
    <h1>Hello {{ name }}</h1>
    <h4>My job is {{ job }}</h4>

    <h3>Hello</h3>{#
    <form method="post" enctype="application/x-www-form-urlencoded" action="{{ path_for('user_form') }}">
        <input type="text" name="name" id="name" title=" user name">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <button type="submit">Send name</button>
    </form>#}

    {# example of parsed html #}
    {% set var = "<h1>Hello</h1>" %}
    {{ var | raw }} {#using different filters we can show or parsed html or text with html etities instead of tags#}

    {% import 'macros/forms.html.twig' as form %}
    <dl>
        <dt>Username</dt>
        <dd>{{ form.input('username') }}</dd>
        <dt>Password</dt>
        <dd>{{ form.input('password', null, 'password') }}</dd>
    </dl>
    <p>
        {{ form.textarea('comment') }}
    </p>
{% endblock %}