<li class="header__options-list__item header__cart">
    <a href="#">
        <i class="fas fa-shopping-cart"></i>
        <span>Cart</span>
        <div class="header__amount__label">5</div>
    </a>
</li>