<li class="header__options-list__item header__user">
    <a href="javascript:void(0);" class="dropdown-toggle" id="dropdownUserMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="header__user__avatar__wrapper">
            <div class="header__user__avatar">
                <i class="fas fa-user-graduate"></i>
            </div>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserMenuButton">
        <a class="dropdown-item" href="#"><i class="fas fa-tachometer-alt"></i><span>Myline Dashboard</span></a>
        <a class="dropdown-item" href="#"><i class="fas fa-dollar-sign"></i><span>Billing Preferences</span></a>
        <a class="dropdown-item" href="#"><i class="fas fa-cog"></i><span>Account settings</span></a>
        <a class="dropdown-item" href="#"><i class="fas fa-paper-plane"></i><span>Transcripts</span></a>
        <a class="dropdown-item" href="#"><i class="far fa-life-ring"></i><span>Support Request</span></a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
    </div>
</li>