{% macro inputGroupIcn(label, name, value, type, size, id, placeholder, required, addonPosition, icon) %}
    {% import _self as inputGroup %}
    <label for="{{ id|e }}">{{ label }}</label>
    <div class="input-group">
        {% if addonPosition %}
            <div class="{{ addonPosition }}">
                <span class="input-group-text"><i class="{{ icon|default('far fa-edit') }}"></i></span>
            </div>
        {% endif %}
        {{ inputGroup.input(label, name, value, type, size, id, placeholder, required) }}
        <div class="invalid-feedback">
            Please enter a valid {{ placeholder|default(label) }}.
        </div>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
{% endmacro inputGroupIcn %}

{% macro inputGroupBtn(label, name, value, type, size, id, placeholder, required, addonPosition, icon, btnType) %}
    {% import _self as inputGroup %}
    <label for="{{ id|e }}">{{ label }}</label>
    <div class="input-group">
        {% if addonPosition %}
            <div class="{{ addonPosition }}">
                <button class="btn" type="{{ btnType }}">
                    <i class="{{ icon|default('far fa-edit') }}"></i>
                </button>
            </div>
        {% endif %}
        {{ inputGroup.input(label, name, value, type, size, id, placeholder, required) }}
        <div class="invalid-feedback">
            Please enter a valid {{ placeholder|default(label) }}.
        </div>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
{% endmacro inputGroupBtn %}

{% macro inputGroup(label, name, value, type, size, id, placeholder, required) %}
    {% import _self as inputGroup %}
    <label for="{{ id|e }}">{{ label }}</label>
    <div class="input-group">
        {{ inputGroup.input(label, name, value, type, size, id, placeholder, required) }}
        <div class="invalid-feedback">
            Please enter a valid {{ placeholder|default(label) }}.
        </div>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
{% endmacro inputGroup %}

{% macro input(label, name, value, type, size, id, placeholder, required) %}
    <input type="{{type|default("text")}}" name="{{ name|e }}" value="{{ value|e }}" size="{{ size|e }}" id="{{ id|e }}" placeholder="{{ placeholder|e }}" {{ required|e }} class="form-control">
{% endmacro input %}

{% macro textarea(name, value, rows, cols) %}
<label>
    <textarea name="{{ name }}" cols="{{ cols|default(40) }}" rows="{{ rows|default(10) }}">{{ value|e }}</textarea>
</label>
{% endmacro %}