.btn {
  font-size: 1.5rem;
  padding: 0 1.5rem;
  height: 4rem;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  &:not([class*="outline"]) {
    border: none;
    color: $white;
  }
  border-radius: 1px;
  text-transform: uppercase;
  &:hover {
    color: $white;
  }
  &-primary {
    background-color: $sl-blue;
    &:hover {
      background-color: $sl-dark-blue;
    }
  }
  &-outline-primary {
    border-color: $sl-blue;
    color: $sl-blue;
    &:hover {
      background-color: $sl-dark-blue;
      border-color: $sl-blue;
    }
  }
  &-danger {
    background-color: $sl-red;
    &:hover {
      background-color: $sl-dark-red;
    }
  }
  &-mktg-primary {
    background-color: $sl-conversion-green;
    &:hover {
      background-color: $sl-dark-green;
    }
  }
  &-lg {
    font-size: 2rem;
    padding: 0 2.5rem;
    height: 5rem;
  }
  &-xl {
    font-size: 2rem;
    padding: 0 3rem;
    height: 6rem;
  }
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: $sl-blue;
}

.input-group-prepend .btn,
.input-group-append .btn {
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  background-color: $sl-blue;
  color: $white;
  padding: 0 1rem;
  min-width: 5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 1.8rem;
  }
  &:hover {
    i {
      font-size: 2rem;
    }
  }
}
