/* Customize the label (the form-check) */
.form-check {
  display: flex;
  margin-left: -.5rem;
  margin-right: -.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 0;
  &__extra-text {
    padding: 0 .5rem;
    margin: 0;
  }
  &__container {
    position: relative;
    padding: 0 .5rem;
    label {
      position: relative;
      z-index: 1;
      padding-left: 2.5rem;
      cursor: pointer;
    }

    /* Hide the browser's default checkbox */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: .5rem;
      height: 2rem;
      width: 2rem;
      background-color: $sl-subtle-gray;
      z-index: 0;

      /* Style the checkmark/indicator */
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: .7rem;
        top: .25rem;
        width: .7rem;
        height: 1.2rem;
        border: solid white;
        border-width: 0 .3rem .3rem 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
      background-color: $sl-medium-gray;
    }

    /* Show the checkmark when checked */
    input:checked ~ .checkmark {
      background-color: $sl-blue;
      &:after {
        display: block;
      }
    }
  }
}








