.course-card {
  margin-bottom: 2.5rem;
  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 16rem;
    padding: 2rem;
    @media only screen and (max-width: 992px) and (min-width: 768px)  {
      padding: 1rem;
    }
    background-color: $sl-medium-gray;
    color: $white;
  }
  &__name,
  &__price,
  &__credits {
    display: flex;
    flex-direction: column;
  }
  &__name {
    flex: 1 1 100%;
    text-transform: uppercase;
    font-weight: 700;
  }
  &__price {
    flex-wrap: nowrap;
    align-self: flex-end;
    flex: 2;
    line-height: 1;
    font-size: 1.2rem;
    &-value {
      font-size: 2.8rem;
      font-weight: 900;
    }
  }
  &__credits {
    align-self: flex-end;
    align-items: flex-end;
    flex: 1;
    line-height: 1;
    font-size: 1.2rem;
    font-style: italic;
    &-value {
      font-size: 2.3rem;
      font-weight: 900;
    }
  }
  &__footer {
    .btn {
      background-color: $white;
      color: $sl-blue;
      width: 100%;
      border: 1px solid $sl-light-gray;
      border-top-color: transparent;
      font-size: 1.5rem;
      &:hover {
        background-color: $sl-blue;
        color: $white;
        border-color: $sl-blue;
        border-top-color: $sl-medium-gray;
      }
      i {
        position: relative;
        top: -1px;
        margin-right: 1rem;
      }
    }
  }

  &.default-card &__body {@include moduleCardOverride($sl-branded);}
  &.science-card &__body {@include moduleCardOverride($science);}
  &.technology-card &__body {@include moduleCardOverride($technology);}
  &.languages-card &__body {@include moduleCardOverride($language);}
  &.english-card &__body {@include moduleCardOverride($english);}
  &.health-science-card &__body {@include moduleCardOverride($health-science);}
  &.humanities-card &__body {@include moduleCardOverride($humanities);}
  &.mathematics-card &__body {@include moduleCardOverride($mathematics);}
  &.social-science-card &__body {@include moduleCardOverride($social-science);}
  &.business-card &__body {@include moduleCardOverride($business);}
  &.college-prep-card &__body {@include moduleCardOverride($college-prep);}
}