@import "button";
@import "input";
@import "checkbox";

form.no-borders {
  .form-control {
    border: none;
  }
}
.form-row {
  margin-right: -1rem;
  margin-left: -1rem;
  > .col,
  > [class*="col-"] {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.input-group {
  &-append {
    order: 2;
  }
  &-prepend {
    order: 1;
  }
  .form-control {
    order: 1;
  }
}

[class*="-feedback"] {
  position: absolute;
  top: 100%;
  margin: 0;
}