

// Settings
// ==================================================
$hamburger-padding-x                       : 0 !default;
$hamburger-padding-y                       : 0 !default;
$hamburger-layer-width                     : 4rem !default;
$hamburger-layer-height                    : .4rem !default;
$hamburger-layer-spacing                   : .6rem !default;
$hamburger-layer-color                     : $white !default;
$hamburger-layer-border-radius             : 0 !default;
$hamburger-hover-opacity                   : 0.7 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : opacity(50%) !default;

// Types
$hamburger-types: (
  collapse
) !default;


