.hero {
  &__section {
    background-image: url(https://s3.amazonaws.com/straighterline-web/images/backgrounds/grad_cap_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: -7.2rem;
    z-index: 1;
    position: relative;
    padding: 12rem 0 5.5rem;
    color: $white;
    a {
      color: $white;
    }
    p {
      margin: 0;
    }
  }
  &__savings {
    &__text {
      font-size: 2rem;
    }
    &__ticker-wrapper {
      display: flex;
      font-weight: 900;
      font-size: 3.7rem;
      @include respond(phone) {
        font-size: 2.7rem;
      }
    }
    &__ticker {
      display: flex;
      margin-left: .4rem;
      span {
        display: block;
        padding: 0 1rem;
        &:not(.comma) {
          background-color: rgba($sl-light-brown, .7);
        }
        &:not(:last-child) {
          margin-right: .4rem;
        }
        @include respond(phone) {
          padding: 0 .6rem;
          &.comma {
            padding: 0;
          }
        }
      }
    }
  }
  &__free-trial-phone {
    a {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.9rem;
      font-style: italic;
    }
  }
  &__desc {
    max-width: 55.5rem;
  }
  &__credit-transfer-guarantee {
    top: initial;
    bottom: 0;
    transform: translateY(50%);
    img {
      width: 10.5rem;
      @include respond(phone) {
        width: 9rem;
      }
    }
  }
}