.form-control,
.custom-select,
.custom-file {
  height: 4rem;
  padding: 0.375rem 1.5rem;
  border-radius: 0;
  font-size: 1.5rem;
  font-weight: 100;
}

.input-group-text {
  padding: 0;
  width: 4rem;
  justify-content: center;
  font-size: 1.6rem;
  border: none;
  border-radius: 0;
  background-color: $sl-gray;
  color: $white;
}