.promo-banner {
  &__wrapper {
    display: flex;
    color: white;
  }
  &__content {
    background-color: $sl-blue;
    flex: 2 1 66%;
    position: relative;
    a {
      padding: 0 1.5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: white;
      min-height: 10.6rem;
      h2 {
        text-transform: uppercase;
        margin: 0;
        display: block;
        max-width: 47rem;
        line-height: 1;
      }
      p {
        margin: .5rem 0 0;
        line-height: 1;
        span {
          font-weight: 600;
        }
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5.3rem 0 5.3rem 6rem;
        border-color: transparent transparent transparent $sl-blue;
        position: absolute;
        right: -6rem;
        top: 0;
      }
    }
  }
  &__contact {
    flex: 1 1 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    a {
      display: block;
      background-color: $sl-conversion-green;
      text-transform: uppercase;
      font-weight: bold;
      padding: 1rem 2.5rem;
      border-radius: .3rem;
      line-height: 1;
      font-size: 1.5rem;
      color: white;
      text-decoration: none;
      &:hover,
      &:active,
      &:visited {
        color: white;
        text-decoration: none;
      }
    }
  }
}


@media only screen and (max-width: 992px) {
  .promo-banner {
    &__content {
      a {
        padding: 1.5rem 0 1.1rem 1.5rem;
        &:after {
          border-width: 5.3rem 0 5.3rem 4rem;
          right: -4rem;
        }
      }
    }
    &__contact {
      padding-left: 7%;
      a {
        padding: 1rem 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .promo-banner {
    &__wrapper {
      flex-direction: column;
    }
    &__content {
      flex: auto;
      text-align: center;
      a {
        padding: 1.5rem;
        align-items: center;
        h2 {
          max-width: 100%;
          line-height: 1.1;
          font-size: 2.5rem;
        }
        &:before,
        &:after {
          content: '';
          background-repeat: no-repeat;
          position: absolute;
          width: 50%;
          height: 20px;
          bottom: -20px;
          border: none;
        }
        &:before {
          background-image: linear-gradient(to left bottom, $sl-blue 0%, $sl-blue 50%, rgba(0, 0, 0, 0) 52%);
          left: 0;
        }
        &:after {
          background-image: linear-gradient(to right bottom, $sl-blue 0%, $sl-blue 50%, rgba(0, 0, 0, 0) 52%);
          right: 0;
          top: initial;
        }
      }
    }
    &__contact {
      flex: auto;
      padding: 30px 0 0;
    }
  }
}