.testimonial {
  display: flex;
  align-items: center;
  @include respond(phone) {
    flex-wrap: wrap;
  }
  &__avatar {
    margin-right: 2rem;
  }
  &__name {
    margin-right: 2rem;
    h3, p {
      margin-bottom: 0;
      white-space: nowrap;
    }
  }
  &__quote {
    display: flex;
    padding: 1rem 0 1rem 2rem;
    margin-left: auto;
    flex-basis: 70%;
    border-left: 1px solid $sl-medium-gray;
    i {
      font-size: 3rem;
      color: $sl-medium-gray;
    }
    p {
      margin: 1rem 0 0 .5rem;
      font-size: 1.8rem;
    }
    @include respond(phone) {
      flex-basis: 100%;
      border: none;
    }
  }
}