.trust-icon {
  &__wrapper {
    display: flex;
  }
  &__link {

  }
  &__img {
    width: 10rem;
    height: 3.8rem;
    background-size: cover;
    background-image: url('https://seal-greatermd.bbb.org/logo/sehzbus/straighterline-90180457.png');
    background-position: top left;
    &:hover {
      background-position: top right;
    }
  }
}