#bottom-contact-form {
  background-color: $sl-dark-gray;
  padding: 6rem 0 9rem;
  border-bottom: 1px solid rgba($sl-black, .5);
  box-shadow: 0 1px 0 rgba($sl-black, .7);
  margin-bottom: 1px;
  color: $white;

  h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
  }

  form {
    .btn.btn-lg[type='submit'] {
      width: 100%;
    }
  }

  .bottom-contact-form__submit {
    display: flex;
    align-items: center;
    button {
      flex: 1 1 50%;
      margin-right: 1rem;
    }
    span {
      flex: 1 1 7%;
      text-align: center;
    }
    p {
      flex: 1 1 43%;
      margin: 0 0 0 1rem;
      a {
        color: inherit;
        font-weight: 900;
      }
    }
    @include respond(phone) {
      flex-direction: column;
      button {
        margin: 0;
      }
      span {
        margin: 1rem 0;
      }
      p {
        margin: 0;
      }
    }
  }
}