.footer {
  background-color: $sl-dark-gray;
  color: $white;
  padding: 9rem 0 7rem;
  position: relative;
  @include respond(tab-port) {
    padding: 7rem 0 5rem;
  }

  h5 {
    color: $white;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.8rem;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  &__links-list {
    &__item {
      line-height: 1;
      margin-bottom: 1rem;
      a {
        text-decoration: none;
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }

  &__contact {
    text-align: right;
    margin: 7rem 0 0;
    a {
      text-decoration: underline;
      font-weight: bold;
    }
    @include respond(tab-port) {
      margin: 2rem 0 0;
    }
  }

  &__bottom {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__social-list {
      display: flex;
      .footer__social-link {
        font-size: 3rem;
        line-height: 1;
        &:not(:last-child) {
          margin-right: 1.5rem;
        }
      }
    }
    &__copyright {
      p {
        font-size: 1.4rem;
        font-weight: 100;
        margin: 0;
      }
    }
    &__logo {
      img {
        width: 100%;
        max-width: 15rem;
      }
    }
    @include respond(phone) {
      flex-direction: column;
      margin-top: 4rem;
      &__copyright {
        margin: 1rem 0;
      }
    }
  }
}