.header {
  background-color: $black;
  color: $white;

  .container {
    display: flex;
    height: 7.2rem;
  }

  .hamburger {
    display: none;
    @include respond(tab-land) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }


  &__logo {
    flex-basis: 25%;
    @include respond(tab-land) {
      margin-left: 1.5rem;
    }
    @include respond(tab-port) {
      flex: 1 1 calc(95% - 5.5rem);
    }
    &-box {
      background-color: $brand-primary;
      display: flex;
      justify-content: center;
      padding: 0 3rem;
      height: 100%;
      img {
        max-width: 15rem;
        width: 100%;
      }
    }
  }
  &__help-list {
    display: flex;
    flex: 1;
    padding: 0 3rem;
    @include respond(tab-port) {
      flex: 1 1 100%;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 5rem;
      background-color: $black;
    }
    &__item {
      text-transform: uppercase;
      font-weight: 900;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-right: 3.5rem;
      }
      span {
        font-weight: 100;
        font-style: italic;
        @include respond(tab-land) {
          display: none;
        }
      }
      @include respond(tab-port) {
        justify-content: center;
        flex: 1;
        margin: .5rem 0;
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
  }

  &__options-list {
    display: flex;
    justify-content: flex-end;
    font-family: $roboto-condensed;
    @include respond(tab-port) {
      flex: 1 1 5%;
    }
    &__item {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-right: 2.5rem;
      }
    }
  }

  &__live-chat {
    @include respond(tab-port) {
      border-left: 1px solid $sl-gray;
      border-right: 1px solid $sl-gray;
    }
    @include respond(phone) {
      display: none;
    }
  }

  &__phone {
    @include respond(phone) {
      border-right: 1px solid $sl-gray;
      justify-content: flex-end;
      padding-right: 3rem;
    }
  }
  &__help-center {
    @include respond(phone) {
      justify-content: flex-start;
      padding-left: 3rem;
    }
  }

  &__search {
    @include respond(tab-land) {
      display: none;
    }
  }

  &__cart {
    a {
      position: relative;
    }
    span {
      margin-left: .1rem;
    }
    @include respond(tab-land) {
      display: none;
    }
  }

  &__notifications {
    a {
      position: relative;
    }
    @include respond(tab-land) {
      display: none;
    }
  }

  &__amount__label {
    position: absolute;
    top: -1rem;
    right: -1.5rem;
    background-color: $sl-red;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
  }
  &__user {
    @include respond(tab-port) {
      margin-left: 1.5rem;
    }
    &__avatar__wrapper {
      background-color: $white;
      border-radius: 50%;
      border-bottom-right-radius: 0;
      padding: 3px;
    }
    &__avatar {
      width: 5rem;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $sl-gray;
      border-radius: 50%;
      font-size: 2.5rem;
    }
    .dropdown-toggle {
      position: relative;
      display: block;
      &::after {
        position: absolute;
        right: 2px;
        bottom: 2px;
        border-top-color: $black;
        border-bottom-color: $black;
      }
    }
    .dropdown-menu {
      border: 1px solid $sl-light-gray;
      border-radius: 0;
      margin: .8rem 0 0;
      padding: 0;
      font-size: 1.5rem;
      box-shadow: 0 0 1rem rgba($black, 0.175);
      .dropdown-divider {
        margin: 0;
      }
      .dropdown-item {
        padding: .75rem 2rem;
        color: $text-color;
        &:hover {
          background-color: $sl-light-gray;
          color: $sl-blue;
          i {
            font-size: 1.8rem;
          }
        }
        i {
          width: 2rem;
          text-align: center;
          margin-right: 5px;
        }
      }
    }
  }
}