
@import "~hamburgers/_sass/hamburgers/hamburgers";

.main-nav {
  @include respond(tab-land) {
    display: none;
  }
  @include respond(tab-land_up) {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    &__items-list {
      background-color: $sl-light-brown;
      display: flex;
      align-content: stretch;
      height: 7.2rem;
    }
    &__item {
      font-size: 1.5rem;
      position: relative;
      display: flex;
      justify-content: center;
      align-content: stretch;
      &__link {
        display: flex;
        align-content: stretch;
        align-items: center;
        text-transform: uppercase;
        flex-grow: 1;
        font-weight: 900;
        color: $white;
        padding: 0 2.5rem;
        @include respond(laptop) {
          padding: 0 2rem;
        }
        &:hover {
          text-decoration: none;
        }
        i {
          display: none;
        }
      }
      &__options-list {
        position: absolute;
        z-index: 9;
        top: 100%;
        left: 0;
        background-color: $sl-dark-gray;
        display: none;
        border-top: 1px solid $sl-gray;
      }
      &__option {
        font-family: $roboto-condensed;
        &:not(:last-child) {
          border-bottom: 1px solid $sl-gray;
        }
        a {
          color: $white;
          width: 100%;
          display: block;
          padding: 1.5rem 2.5rem;
          line-height: 1;
          white-space: nowrap;
          &:hover {
            text-decoration: none;
            background-color: $sl-gray;
          }
        }
      }
      &:hover {
        .main-nav__item__link {
          background-color: $sl-dark-gray;
          color: $white;
        }
        .main-nav__item__options-list {
          display: block;
        }
      }
    }
  }
}

#mm-main-nav {
  font-size: 1.8rem;
  font-family: $roboto-condensed;
  &.mm-menu_theme-dark {
    background-color: $sl-dark-gray;
    color: $white;
    &.mm-menu_selected-hover .mm-listitem > a:not(.mm-btn_fullwidth):hover,
    &.mm-menu_selected-hover .mm-listitem > a.mm-btn_fullwidth:hover + span {
      background-color: $sl-gray;
    }
  }
  .mm-searchfield {
    height: 50px;
    &__input {
      padding: 0;
      input {
        height: 100%;
        max-height: 100%;
        border-radius: 0;
        padding: 0 20px;
      }
      ::placeholder {
        color: $sl-gray;
      }
    }
    .mm-btn_clear {
      &:before {
        right: 12px;
      }
      &:after {
        right: 19px;
      }
    }
  }

  .mm-panels {
    top: 50px;
  }

  .mm-navbars_top,
  .mm-listitem,
  .mm-navbar {
    border-color: rgba($sl-gray, .5);
  }

  .mm-navbar {
    height: 50px;
    &__title {
      padding: 15px 0;
    }
  }
  .mm-btn {
    height: 50px;
  }

  .mm-panel_has-navbar {
    padding-top: 50px;
  }
  .mm-listitem {
    &:after {
      left: 0;
    }
    a {
      padding: 15px 10px 15px 20px;
      i {
        margin-right: 1rem;
      }
    }
  }
}

