@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }

}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin moduleCardOverride($color) {
  $light: lighten($color, 8%);
  background-color: $color;
  background-image: radial-gradient(center center, ellipse cover, $light, $color);
}
///////////////////////////////////////////////////////
///////////////// MEDIA QUERY MANAGER /////////////////
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1800px:  Desktop
1800px + :      Big desktop

$breakpoint arguments choises:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base = typography > general layout + grid > page layout > components
1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 35.9375em) { @content };   // < 576px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 47.9375em) { @content };   // < 768px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 61.9375em) { @content };   // < 992px
  }
  @if $breakpoint == laptop {
    @media only screen and (max-width: 74.9375em) { @content };   // < 1200px
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 75em) { @content };   // > 1200px
  }
  @if $breakpoint == phone_up {
    @media only screen and (min-width: 36em) { @content };   // < 576px
  }
  @if $breakpoint == tab-port_up {
    @media only screen and (min-width: 48em) { @content };   // < 768px
  }
  @if $breakpoint == tab-land_up {
    @media only screen and (min-width: 62em) { @content };   // < 992px
  }
}

///////////////// MEDIA QUERY MANAGER /////////////////
///////////////////////////////////////////////////////
