$imagedir: '../images/';
$cdnURL: 'http://webcdn.straighterline.net/';
$cdnSecureURL: 'https://s3.amazonaws.com/straighterline-web/';
$fa-font-path : '~@fortawesome/fontawesome-free/webfonts';
//$fa-font-path :  '../public/assets/fonts';

//brand-colors
$sl-bg-gray: #f1f1f1;
$sl-light-gray: #eaebec;
$sl-subtle-gray: #e6e5e6;
$sl-medium-gray: #ccc;
$sl-new-gray:#eef1f4;
$sl-gray: #8b9399;
$sl-dark-gray: #323e48;
$sl-black: #101820;
$sl-red: #ab192d;
$sl-dark-red: #7f1221;
$sl-light-blue: #98b6cc;
$sl-blue: #007299;
$sl-dark-blue: #005b83;
$sl-blue-intense: #002d74;
$sl-aqua: #006a74;
$sl-lime: #637d04;
$sl-orange: #e65400;
$sl-wine: #8d0e57;
$sl-purple: #624c79;
$sl-light-brown: #6b6968;
$sl-brown: #5d3428;
$sl-gold: #ffa400;
$sl-conversion-green: #2a902e;
$sl-green: #3c763d;
$sl-dark-green: #1e6921;
$sl-forest: #005740;
$sl-light-green:#dff0d8;
$white: #fff;
$black: #000;
$facebook: #3b5998;
$facebook-dark: #2e4678;
$google: #dd4b39;
$google-dark: #b33e2d;

//color override
$body-bg: #fff;;
$text-color: #080808;
$link-color: #007299;
$link-hover-color: #98b6cc;
$brand-primary: #ab192d;

//buttons
$btn-primary-bg: $sl-blue;
$btn-secondary-bg: $sl-dark-gray;
$btn-info-bg: $sl-dark-gray;
$btn-danger-bg: $sl-red;
$btn-default-bg: $sl-medium-gray;
$btn-default-border: $sl-gray;

//department colors
$science: $sl-forest;
$technology: $sl-lime;
$language: $sl-orange;
$english: $sl-wine;
$health-science: $sl-red;
$humanities: $sl-purple;
$social-science: $sl-dark-blue;
$mathematics: $sl-aqua;
$business: $sl-brown;
$college-prep: $sl-dark-gray;
$free-trial: $sl-dark-blue;
$legacy: $sl-black;
$sl-branded: $sl-dark-gray;
$tests: $sl-black;

//font variable overwrites
$font-size-base: 1.6rem;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-base: 'roboto', sans-serif;
$icon-font-path: "../fonts/";

$font-size-h1: 2.800em;
$font-size-h2: 2.0em;
$font-size-h3: 1.6em;
$font-size-h4: 1.333em;
$font-size-h5: 1.2em;

$headings-font-weight: 400;
$headings-line-height:1.2em;

//fonts
$roboto-condensed: 'Roboto Condensed', sans-serif;
$roboto:'Roboto', sans-serif;
$roboto-italic:'Roboto', sans-serif;
$roboto-bold:'Roboto', sans-serif;




