@import "../components/promo-banner";
@import "../components/course-card";
@import "../components/testimonial";

.home {
  .courses-overview {
    &__section {
      padding: 5.5rem 0 3rem;
    }
    p {
      margin: 0;
    }
    .course-card__footer {
      .btn {
        border: none;
        border-top: 1px solid transparent;
        &:hover {
          border-top-color: $sl-light-gray;
        }
      }
    }
  }

  .promo-banner {
    &__section {
      padding: 5.5rem 0;
    }
  }

  .how-it-works {
    &__step {
      padding: 10rem 0 0;
      margin-bottom: 1.5rem;
      position: relative;
      z-index: 1;
      height: 100%;
      min-height: 26rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @include respond(desktop) {
        max-width: 90%;
      }
      @include respond(tab-port) {
        padding: 6rem 0 0;
        min-height: auto;
      }
      &:before {
        font-size: 15rem;
        position: absolute;
        color: $sl-medium-gray;
        font-weight: 900;
        top: -.5rem;
        left: 0;
        line-height: 1;
        z-index: -1;
        @include respond(tab-port) {
          font-size: 10rem;
        }
      }
      &.step-1:before {
        content: '1';
      }
      &.step-2:before {
        content: '2';
      }
      &.step-3:before {
        content: '3';
      }
      .cta-link {
        font-size: 1.8rem;
        margin-top: auto;
        @include respond(tab-port) {
          margin-top: .5rem;
        }
      }
      p {
        margin: 0;
      }
    }
  }

  .advisor {
    &__section {
      padding: 5.5rem 0;
    }
    &__wrapper {
      display: flex;
      align-items: center;
      @include respond(phone) {
        flex-wrap: wrap;
      }
    }
    &__avatar {
      img {
        @include respond(tab-port) {
          max-width: 14rem;
          width: auto;
        }
        @include respond(phone) {
          width: 100%;
        }
      }
      @include respond(phone) {
        flex: 1 1 34%;
        align-self: flex-start;
      }
    }
    &__info {
      padding: .5rem 3rem;
      border-right: 1px solid $sl-medium-gray;
      p {
        margin: 0;
        @include respond(tab-port) {
          line-height: 1;
        }
      }
      @include respond(tab-port) {
        padding: .5rem 2rem;
      }
      @include respond(phone) {
        flex: 1 1 66%;
        padding: .5rem 1rem;
        border-right: none;
      }
    }
    &__contact {
      padding: 1.5rem 3rem;
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      button {
        margin-left: 3rem;
      }
      @include respond(tab-land) {
        flex-direction: column;
      }
      @include respond(tab-port) {
        padding: .5rem 2rem;
      }
      @include respond(phone) {
        padding: .5rem 2rem 1rem;
      }
    }
  }

  .tools {
    &__section {
      padding: 5.5rem 0;
    }
    &__blog {
      padding-left: 2rem;
      border-left: 2px solid $sl-dark-gray;
      margin: 1rem 0 5rem;
      @include respond(tab-port) {
        margin-bottom: 3rem;
      }
      .blog__recent-post__title {
        font-size: 2.4rem;
        line-height: 3rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        display: block;
      }
    }
    &__guide {
      background-color: $sl-black;
      padding: 4rem 22rem 4rem 4rem;
      color: $white;
      position: relative;
      float: right;
      display: flex;
      flex-direction: column;
      @include respond(desktop) {
        max-width: 50.5rem;
      }
      @include respond(tab-land) {
        padding: 3rem;
        .btn {
          align-self: center;
        }
        img {
          display: none;
        }
      }
      @include respond(tab-port) {
        margin-top: 3rem;
      }
      img {
        position: absolute;
        bottom: -6.5rem;
        right: -3.5rem;
        max-height: 34rem;
        width: auto;
        @include respond(laptop) {
          right: -2rem;
          max-height: 30rem;
        }
      }
    }
  }

  .testimonial {
    &__section {
      padding: 5.5rem 0;
    }
    .footnote {
      margin-top: 5.5rem;
    }
  }
}
