//body {
//  background: transparent url(https://s3.amazonaws.com/straighterline-web/images/login/login_bg.jpg) no-repeat center center;
//  background-attachment: fixed;
//  background-size: cover;
//}

.login {
  main {
    background: transparent url(https://s3.amazonaws.com/straighterline-web/images/login/login_bg.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
  }
  &__section {
    padding: 5.5rem 0 7.5rem;
  }
  &__wrapper {
    background: rgba($white, .6);
    padding: 3rem;
    display: flex;
    @include respond(phone) {
      flex-direction: column;
      padding: 2rem;
    }
    h2 {
      font-weight: 500;
    }
  }
  &__form {
    flex: 1 1 45%;
    .btn {
      width: 100%;
    }
    .form-group {
      label {
        font-weight: bold;
      }
    }
    #forgot-password {
      display: flex;
      align-items: center;
      height: 100%;
      font-weight: bold;
      line-height: 1.2;
      i {
        margin-right: .5rem;
      }
    }
  }
  &__divider {
    flex: 1 1 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 3rem;
    @include respond(laptop) {
      padding-top: 5rem;
    }
    @include respond(tab-port) {
      padding-top: 9rem;
    }
    @include respond(phone) {
      padding: 0;
      margin: 3rem 0;
    }
  }
  &__third-party-acc {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__links {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 7rem;
      a.btn {
        flex: 1 1 100%;
        &:not(:last-child) {
          margin-bottom: 4.2rem;
        }
        &.login__facebook {
          background-color: $facebook;
          &:hover {
            background-color: $facebook-dark;
          }
        }
        &.login__google {
          background-color: $google;
          &:hover {
            background-color: $google-dark;
          }
        }
      }
      @include respond(phone) {
        padding-bottom: 0;
        a.btn:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }
    @include respond(phone) {
      h2 {
        line-height: 1;
        margin-bottom: 2rem;
      }
    }
  }
}