@import "../components/trust-icons";

.register {
  &__section {
    padding: 5.5rem 0 0;
  }
  .courses-list {
    list-style: initial;
    padding-left: 1.5rem;
    li {
      margin-bottom: 1rem;
      font-weight: bold;
    }
  }
  &__form-wrapper {
    padding: 3rem;
    p {
      text-align: center;
      margin: 0;
    }
  }

  .trust-icon__wrapper {
    justify-content: flex-end;
  }

  .testimonial {
    &__section{
      padding: 5.5rem 0;
      .footnote {
        display: none;
      }
    }
  }
}