<section class="hero__section">
    <div class="container">
        <h1 class="mb-4"><strong>The Solution</strong> to the Cost of College</h1>
        <div class="hero__savings">
            <p class="hero__savings__text"><em>To date, StraighterLine has <strong>saved</strong> students and taxpayers*:</em></p>
            <div class="hero__savings__ticker-wrapper mt-5 mb-5">
                <span>$</span>
                <div class="hero__savings__ticker">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span class="comma">,</span>
                    <span>4</span>
                    <span>5</span>
                    <span>6</span>
                    <span class="comma">,</span>
                    <span>7</span>
                    <span>8</span>
                    <span>9</span>
                </div>
            </div>
        </div>

        <p class="hero__desc">StraighterLine solves the #1 issue facing students today – the skyrocketing cost of college – with low-cost online courses that are guaranteed to transfer to schools in our network of 70+ accredited colleges.</p>

        <a href="#" class="btn btn-xl btn-mktg-primary mt-5 mb-5">Try it for free</a>
        <div class="hero__free-trial-phone">
            <a href="tel:877.787.8375"><strong>Call 877.787.8375</strong></a>
            <p> to talk with a StraighterLine Enrollment Counselor!</p>
        </div>

        <div class="hero__credit-transfer-guarantee">
            <img src="https://s3.amazonaws.com/straighterline-web/images/global/SL-CreditTransfer-2014.svg" alt="StraighterLine Credit Transfer Guarantee">
        </div>
    </div>
</section>