<section class="testimonial__section bg--gray">
    <div class="container">
        <div class="testimonial">
            <div class="testimonial__avatar">
                <img src="http://webcdn.straighterline.net/images/student_success/nardy_d_circle.png" alt="Testimonial avatar">
            </div>
            <div class="testimonial__name">
                <h3>Nardy Doyle</h3>
                <p>Total savings: <strong>$11,854</strong></p>
            </div>
            <div class="testimonial__quote">
                <i class="fas fa-quote-left"></i>
                <p>
                    <em>I like [StraighterLine’s] live chat. They answer questions quickly – and I was able to easily determine which classes would transfer.</em>
                    <a href="#" class="cta-link arrow-link">See more</a>
                </p>
            </div>
        </div>
        <p class="footnote">
            *Total StraighterLine savings is compared to the average, in-state, published tuition and fees at a public four year college plus the average amount of contribution paid by state and local taxpayers. For 2014 - 2015, the average published tuition and fees is $9140 which represents an average of 47% of a public institution's revenue. Source:
            <a href="#">College Board</a> and <a href="#">State Higher Education Executive Officers</a>.
        </p>
    </div>
</section>