{% import 'macros/forms.html.twig' as form %}

<section id="bottom-contact-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <h3>Find Out How Much You Can Save <br> With StraighterLine</h3>
                <form class="needs-validation no-borders" novalidate>
                    <div class="form-row">
                        <div class="col-12 col-sm-6 mb-4 mb-sm-5">
                            {{ form.inputGroupIcn('First Name *', 'first_name', '', 'text', '', 'first_name', 'First Name', 'required', 'input-group-prepend', 'far fa-user') }}
                        </div>
                        <div class="col-12 col-sm-6 mb-4 mb-sm-5">
                            {{ form.inputGroupIcn('Last Name *', 'last_name', '', 'text', '', 'last_name', 'Last Name', 'required', 'input-group-prepend', 'far fa-user') }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-sm-6 mb-4 mb-sm-5">
                            {{ form.inputGroupIcn('Email *', 'email', '', 'email', '', 'email', 'Email', 'required', 'input-group-prepend', 'far fa-envelope') }}
                        </div>
                        <div class="col-12 col-sm-6 mb-4 mb-sm-5">
                            {{ form.inputGroupIcn('Phone Number *', 'phone_number', '', 'number', '', 'phone_number', 'Phone Number', 'required', 'input-group-prepend', 'fas fa-phone') }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 mb-5">
                            {{ form.inputGroupBtn('Choose Your College / University', 'college', '', 'text', '', 'college', 'Your College / University', '', 'input-group-append', 'fas fa-times', 'button') }}
                        </div>
                    </div>
                    <div class="form-group mb-5">
                        <div class="form-check">
                            <p class="form-check__extra-text">or</p>
                            <div class="form-check__container">
                                <input class="form-check-input" type="checkbox" value="" id="undecidedCollege">
                                <span class="checkmark"></span>
                                <label class="form-check-label" for="undecidedCollege">Undecided College/University</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-5">
                        <div class="form-check">
                            <div class="form-check__container">
                                <input class="form-check-input" type="checkbox" value="" id="getLatestNews">
                                <span class="checkmark"></span>
                                <label class="form-check-label" for="getLatestNews">Get the latest information on StraighterLine courses, news, and promotions</label>
                            </div>
                        </div>
                        <div class="form-check">
                            <div class="form-check__container">
                                <input class="form-check-input" type="checkbox" value="" id="sendPartnerCollegeInfo">
                                <span class="checkmark"></span>
                                <label class="form-check-label" for="sendPartnerCollegeInfo">Send me information on Partner College Scholarships</label>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-contact-form__submit">
                        <button class="btn btn-lg btn-primary" type="submit">Submit form</button>
                        <span>or</span>
                        <p><a href="tel:877.787.8375">CALL 877.787.8375</a> to talk with a StraighterLine Enrollment Counselor!</p>
                    </div>
                </form>

                <script>
                  // Example starter JavaScript for disabling form submissions if there are invalid fields
                  (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                      // Fetch all the forms we want to apply custom Bootstrap validation styles to
                      var forms = document.getElementsByClassName('needs-validation');
                      // Loop over them and prevent submission
                      var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                          if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                          }
                          form.classList.add('was-validated');
                        }, false);
                      });
                    }, false);
                  })();
                </script>
            </div>
        </div>
    </div>
</section>