{% import 'macros/forms.html.twig' as form %}

<footer class="footer">
    <div class="container">
        <div class="footer__credit-transfer-guarantee">
            <img src="https://s3.amazonaws.com/straighterline-web/images/global/SL-CreditTransfer-2014.svg" alt="StraighterLine Credit Transfer Guarantee">
        </div>
        <div class="row">
            <div class="col-md-7 col-lg-8">
                <div class="row">
                    <div class="col-4">
                        <h5><a href="#">About us</a></h5>
                        <ul class="footer__links-list">
                            <li class="footer__links-list__item"><a href="#">Meet the CEO</a></li>
                            <li class="footer__links-list__item"><a href="#">Press</a></li>
                            <li class="footer__links-list__item"><a href="#">Careers</a></li>
                            <li class="footer__links-list__item"><a href="#">Advisory Board</a></li>
                            <li class="footer__links-list__item"><a href="#">CEO Corner</a></li>
                            <li class="footer__links-list__item"><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <h5>Resources</h5>
                        <ul class="footer__links-list">
                            <li class="footer__links-list__item"><a href="#">SL Blog</a></li>
                            <li class="footer__links-list__item"><a href="#">FAQ</a></li>
                            <li class="footer__links-list__item"><a href="#">Student Handbook</a></li>
                            <li class="footer__links-list__item"><a href="#">Refunds</a></li>
                            <li class="footer__links-list__item"><a href="#">Privacy Policy</a></li>
                            <li class="footer__links-list__item"><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <h5>Partners</h5>
                        <ul class="footer__links-list">
                            <li class="footer__links-list__item"><a href="#">Colleges</a></li>
                            <li class="footer__links-list__item"><a href="#">Employers</a></li>
                            <li class="footer__links-list__item"><a href="#">Publishers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 mt-5 mt-md-0">
                <h5>Sign-up for Straighterline updates</h5>
                <form class="no-borders">
                    <div class="input-group footer__subscribe-form">
                        {{ form.input('', 'email_address', '', 'email', '', '', 'Your Email Address', '') }}
                        <div class="input-group-append">
                            <button class="btn" type="submit">
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <p class="footer__contact">
                    Questions? Call Toll Free 877.787.8375<br>
                    or <a href="#">Chat with an Enrollment Counselor</a>
                </p>
            </div>
        </div>
        <div class="footer__bottom">
            <ul class="footer__bottom__social-list">
                <li class="footer__social-link"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li class="footer__social-link"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li class="footer__social-link"><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                <li class="footer__social-link"><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                <li class="footer__social-link"><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            <div class="footer__bottom__copyright">
                <p>Copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Straighterline.</p>
            </div>
            <div class="footer__bottom__logo">
                <img src="https://s3.amazonaws.com/straighterline-web/images/sl-logo/straighterline-logo-white.png" alt="Straighterline logo white">
            </div>
        </div>
    </div>
</footer>