
<header class="header fixed-top">
    <div class="container">

        <button id="main-nav_toggle" class="hamburger hamburger--collapse" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

        <a href="{{ path_for('index') }}" class="header__logo">
            <div class="header__logo-box">
                <img src="https://s3.amazonaws.com/straighterline-web/images/header/SL-logo-rev.svg" alt="Straighterline logo" class="header__logo">
            </div>
        </a>

        <ul class="header__help-list">
            <li class="header__help-list__item header__phone">
                <a href="tel:877.787.8375">
                    <span>Call:&nbsp;</span>
                    <i class="fas fa-phone d-lg-none mr-2"></i>
                    877.787.8375
                </a>
            </li>
            <li class="header__help-list__item header__live-chat"><a href="#">Live Chat</a></li>
            <li class="header__help-list__item header__help-center"><a href="#">Help Center</a></li>
        </ul>

        <ul class="header__options-list">
            {% include 'widgets/search.html.twig' %}
            {% include 'widgets/cart.html.twig' %}
            {% include 'widgets/notification.html.twig' %}
            {% include 'widgets/user-menu.html.twig' %}
        </ul>
    </div>
</header>