<nav id="main-nav" class="main-nav">
    <div class="container">
        <ul class="main-nav__items-list">
            <li class="main-nav__item d-lg-none">
                <a href="#" class="main-nav__item__link"><i class="fas fa-shopping-cart"></i><span>Cart</span></a>
            </li>
            <li class="main-nav__item d-lg-none">
                <a href="#" class="main-nav__item__link"><i class="fas fa-bell"></i><span>Notifications</span></a>
            </li>
            <li class="main-nav__item">
                <a href="pages/courses.html" class="main-nav__item__link"><i class="fas fa-desktop"></i><span>Courses</span></a>
                <ul class="main-nav__item__options-list">
                    <li class="main-nav__item__option"><a href="#">Business</a></li>
                    <li class="main-nav__item__option"><a href="#">English</a></li>
                    <li class="main-nav__item__option"><a href="#">Health Science</a></li>
                    <li class="main-nav__item__option"><a href="#">Humanities</a></li>
                    <li class="main-nav__item__option"><a href="#">Languages</a></li>
                    <li class="main-nav__item__option"><a href="#">Mathematics</a></li>
                    <li class="main-nav__item__option"><a href="#">Science</a></li>
                    <li class="main-nav__item__option"><a href="#">Social Science</a></li>
                    <li class="main-nav__item__option"><a href="#">Technology</a></li>
                    <li class="main-nav__item__option"><a href="#">College Prep Courses</a></li>
                    <li class="main-nav__item__option"><a href="#">Tests for Credit</a></li>
                </ul>
            </li>
            <li class="main-nav__item">
                <a href="#" class="main-nav__item__link"><i class="fas fa-university"></i><span>Colleges</span></a>
                <ul class="main-nav__item__options-list">
                    <li class="main-nav__item__option"><a href="#">Partner Colleges</a></li>
                    <li class="main-nav__item__option"><a href="#">Scholarships</a></li>
                </ul>
            </li>
            <li class="main-nav__item">
                <a href="#" class="main-nav__item__link"><i class="fas fa-cog"></i><span>How it works</span></a>
                <ul class="main-nav__item__options-list">
                    <li class="main-nav__item__option"><a href="#">How it works</a></li>
                    <li class="main-nav__item__option"><a href="#">Credit transfer</a></li>
                    <li class="main-nav__item__option"><a href="#">Pricing</a></li>
                    <li class="main-nav__item__option"><a href="#">Accreditation</a></li>
                    <li class="main-nav__item__option"><a href="#">eTextbooks</a></li>
                    <li class="main-nav__item__option"><a href="#">Student Support</a></li>
                    <li class="main-nav__item__option"><a href="#">Tuition Comparison</a></li>
                    <li class="main-nav__item__option"><a href="#">About Us</a></li>
                </ul>
            </li>
            <li class="main-nav__item">
                <a href="#" class="main-nav__item__link"><i class="fas fa-door-open"></i><span>Student access</span></a>
                <ul class="main-nav__item__options-list">
                    <li class="main-nav__item__option"><a href="#">Guides & Reports</a></li>
                    <li class="main-nav__item__option"><a href="#">Success Stories</a></li>
                    <li class="main-nav__item__option"><a href="#">Degree Path</a></li>
                </ul>
            </li>
            <li class="main-nav__item">
                <a href="{{ path_for('register') }}" class="main-nav__item__link"><i class="fas fa-lock-open"></i><span>Free trial</span></a>
            </li>
        </ul>
    </div>
</nav>